@import "tailwindcss";

@layer base {
  html {
    @apply antialiased;
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-gray-700 rounded-full;
  }

  .dark ::-webkit-scrollbar-thumb {
    @apply bg-gray-600;
  }
}
